html,
body {
  overflow-x: hidden;
}

body,
p {
  font-family: 'Roboto', sans-serif;
  color: #000;
}

.text-blue {
  color: #0b16f3;
}

.text-pink {
  color: #fe8182;
}

a,
.btn-link {
  color: #0b16f3;
  text-decoration: none;
}

a:hover,
a:visited,
a:active,
.btn-link:hover,
.btn-link:active,
.btn-link:focus {
  color: #0b16f3;
  text-decoration: underline;
}

small {
  font-size: 13px;
}

@media screen and (max-width: 480px) {
  small {
    font-size: 11px;
  }
}

.row-md-flex {
  display: flex;
}

.col-md-flex {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .row-md-flex {
    display: block;
  }

  .col-md-flex {
    display: block;
  }
}

.landing,
.demands,
.petition {
  position: relative;
  margin-bottom: 20px;
}

.landing {
  margin: 180px 0;
}

.landing .landing__title {
  font-size: 82px;
  font-weight: 900;
  text-transform: uppercase;
}

.landing .landing__subtitle {
  font-size: 48px;
  line-height: 1.2;
  font-weight: 300;
  margin-top: 60px;
}

@media screen and (max-width: 991px) {
  .landing {
    margin: 20px 0;
  }

  .landing .landing__logo {
    max-width: 480px;
    margin: 0 auto;
  }

  .landing .landing__title {
    font-size: 68px;
  }

  .landing .landing__subtitle {
    font-size: 36px;
    margin-top: 30px;
  }
}

@media screen and (max-width: 480px) {
  .landing .landing__logo {
    max-width: 200px;
  }

  .landing .landing__title {
    font-size: 36px;
  }

  .landing .landing__subtitle {
    font-size: 28px;
    margin-top: 20px;
  }
}

.demands {
  margin-top: 50px;
}

.demands .demands__title {
  display: inline-block;
  font-size: 95px;
  font-weight: 300;
  line-height: 1.1;
  padding-left: 45px;
  margin: 0 !important;
  position: relative;
  z-index: 2;
}

.demands--right .demands__title {
  text-align: right;
  padding-left: 0;
  padding-right: 45px;
  position: absolute;
  right: 0;
}

.demands .pink-box {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -9999px;
  right: 203px;
  background-color: #fe8182;
  z-index: 1;
}

.demands--right .pink-box {
  right: -9999px;
  left: 203px;
}

.demands .demand {
  font-size: 14px;
  padding-left: 120px;
  position: relative;
  min-height: 250px;
  margin-bottom: 40px;
}

.demands .demand:last-child {
  margin-bottom: 0;
}

.demands--right .demand {
  padding-left: 0;
  padding-right: 120px;
}

.demands .demand__number {
  font-size: 95px;
  font-weight: 700;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
}

.demands--right .demand__number {
  left: auto;
  right: 48px;
}

.demands .demand__text {
  padding: 40px 30px;
  background-color: #0b16f3;
  color: #fff;
  min-height: 300px;
  font-size: 24px;
  font-weight: 300;
}

.demands .demand__hover {
  background-color: #0b16f3;
  color: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 120px;
  right: 0;
  background-image: url("img/circle-arrow.svg");
  background-repeat: no-repeat;
  background-position: right bottom;
}

.demands--right .demand__hover {
  left: 0;
  right: 120px;
}

.demands .demand__hover span {
  position: absolute;
  top: 40px;
  left: 30px;
  right: 30px;
  font-size: 32px;
  line-height: 45px;
  font-weight: 700;
}

.demands .demand .demand__text:hover + .demand__hover,
.demands .demand .demand__hover:hover,
.demands .demand.hover .demand__hover {
  display: none;
}

.demands .demand__more-link::after {
  content: '';
  display: block;
  clear: both;
}

.demands .demand__more-link a,
.demands .demand__more-link a:visited,
.demands .demand__more-link a:active {
  display: block;
  float: left;
  color: #fff;
  text-align: right;
  text-decoration: underline;
  margin-top: 20px;
  margin-bottom: -15px;
  padding: 3px 6px;
  border-radius: 4px;
  transition: 150ms all ease-in-out;
}

.demands .demand__more-link a:hover,
.demands .demand__more-link a:hover:visited,
.demands .demand__more-link a:hover:active {
  background-color: rgba(254, 129, 130, 0.7);
}

@media screen and (max-width: 991px) {
  .demands .demands__title {
    padding-top: 45px;
    position: relative;
    width: 100%;
  }

  .demands .pink-box {
    bottom: 50px;
    left: 0;
    width: 100%;
  }

  .demands .demand {
    margin-top: 40px;
  }
}

@media screen and (max-width: 480px) {
  .demands .demands__title {
    font-size: 36px;
    padding: 20px;
  }

  .demands .pink-box {
    bottom: 40px;
  }

  .demands .demand {
    font-size: 13px;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 60px;
  }

  .demands .demand__number {
    left: 0;
    right: 0;
    top: -17px;
    font-size: 64px;
    width: 100%;
    text-align: center;
  }

  .demands .demand__hover {
    left: 0;
    right: 0;
  }

  .demands .demand__hover span {
    font-size: 25px;
    line-height: 30px;
  }

  .demands .demand__text {
    font-size: 16px;
  }
}

.cta {
  margin-top: 100px;
  margin-bottom: 100px;
}

.cta .cta__logo {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}

.cta .cta__title {
  font-size: 40px;
  line-height: 1.2;
  font-weight: 300;
}

@media screen and (max-width: 991px) {
  .cta .cta__logo {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 480px) {
  .cta {
    margin-top: 70px;
    margin-bottom: 70px;
  }

  .cta .cta__logo {
    max-width: 200px;
  }

  .cta .cta__title {
    font-size: 28px;
  }
}

.petition .petition__title {
  font-size: 40px;
  line-height: 1.2;
  font-weight: 300;
  vertical-align: text-top;
  margin-top: 0;
  margin-bottom: 80px;
}

.petition .petition__title--box {
  background-color: #0b16f3;
  color: #fff;
  font-weight: 400;
  padding: 30px;
  line-height: 1.4;
  margin-bottom: 30px;
}

.petition .petition__title strong {
  font-size: 64px;
}

.petition .petition__title span {
  font-weight: 700;
}

.petition .progress-container {
  padding-bottom: 140px;
}

.petition .progress {
  height: 35px;
  background-color: #dae6f2;
  border-radius: 0;
  margin-bottom: 10px;
}

.petition .progress-bar {
  background-color: #0b16f3;
}

.petition .progress__note {
  font-size: 15px;
}

.petition .petition__form,
.petition .petition__reset {
  padding-bottom: 40px;
}

.petition .form-control {
  border: 2px solid #000;
  border-radius: 0;
  margin-bottom: 20px;
  font-size: 15px;
  padding: 0 15px;
  color: #0b16f3;
  font-weight: 700;
  height: 50px;
  line-height: 50px;
}

.petition .btn-default,
.petition .btn-default:active,
.petition .btn-default:focus,
.petition .btn-default[disabled] {
  font-size: 36px;
  font-weight: 900;
  line-height: 76px;
  background-color: #fe8182;
  color: #000;
  border: 0;
  border-radius: 0;
  text-transform: uppercase;
  transition: 150ms all ease-in-out;
}

.petition .btn-default:not([disabled]):hover,
.petition .btn-default:not([disabled]):active:hover,
.petition .btn-default:not([disabled]):focus:hover {
  color: #fff;
}

@media screen and (max-width: 991px) {
  .petition .title-container {
    padding-top: 0;
    padding-bottom: 35px;
  }

  .petition .progress-container {
    padding-bottom: 0;
  }

  .petition .petition__form,
  .petition .petition__reset {
    padding-top: 60px;
  }
}

@media screen and (max-width: 480px) {
  .petition .petition__title {
    font-size: 28px;
    display: block;
  }

  .petition .petition__title strong {
    font-size: 42px;
  }

  .petition .petition__note {
    white-space: normal;
  }

  .petition .btn-default,
  .petition .btn-default:active,
  .petition .btn-default:focus {
    font-size: 40px;
    line-height: 60px;
  }
}

.form-control:hover,
.form-control:active,
.form-control:focus,
.btn:hover,
.btn:active,
.btn:focus {
  outline: none !important;
  box-shadow: none !important;
  -webkit-appearance: none;
}

.checkbox {
  padding-left: 20px;
  margin-bottom: 23px;
}

.checkbox input[type="checkbox"] {
  display: none;
}

.checkbox label {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 15px;
  min-height: 26px;
}

.checkbox label::before,
.checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 26px;
  height: 26px;
  left: 0;
  margin-top: -2px;
  margin-left: -20px;
}

.checkbox label::before {
  content: "";
  border: 2px solid #000;
  background-color: #fff;
}

.checkbox label::after {
  padding-left: 4px;
  padding-top: 5px;
  font-size: 16px;
  color: #0b16f3;
}

.checkbox input[type="checkbox"]:checked + label::after {
  content: "\e013";
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.checkbox input[disabled] + label {
  cursor: not-allowed;
  opacity: 0.65;
}

.checkbox input[disabled] + label::before {
  background-color: #eee;
}

/* .petition .petition__form { */
.petition .petition__reset {
  display: none;
}

.petition__consent {
  margin: 20px 0;
  font-size: 12px;
}

.petition__thanks {
  font-weight: 700;
}

.petition__reset .social-box {
  background-color: #fe8182;
  padding: 10px;
  font-size: 30px;
  text-align: center;
  font-weight: 300;
}

.petition__reset .social-box .buttons {
  display: inline-block;
}

.petition__reset a,
.petition__reset a:hover,
.petition__reset .btn,
.petition__reset .btn:hover {
  font-weight: bold;
  padding-left: 0;
  padding-right: 0;
}

.footer {
  background-color: #fe8182;
  line-height: 71px;
}

.footer__social {
  font-size: 28px;
}

.footer .social__title {
  margin-right: 30px;
  font-weight: 300;
  vertical-align: middle;
}

.btn-social {
  background: transparent;
  color: #fff;
  width: 35px;
  height: 35px;
  padding: 4px 0;
  transition: 150ms all ease-in-out;
}

.btn-social svg {
  fill: #fff;
  transition: 150ms all ease-in-out;
}

.btn-social:hover {
  background-color: #0b16f3;
}

.btn-social:hover svg {
  fill: #fff;
}

.footer__people {
  font-size: 24px;
}

.footer__people a,
.footer__people a:visited,
.footer__people a:active,
.footer__people a:focus {
  color: #fff;
  padding: 3px 5px;
  border-radius: 4px;
  transition: 150ms all ease-in-out;
}

.footer__people a:hover,
.footer__people a:hover:visited,
.footer__people a:hover:active,
.footer__people a:hover:focus {
  background-color: #0b16f3;
  text-decoration: none;
}

@media screen and (max-width: 480px) {
  .footer {
    text-align: center;
  }

  .footer .social__title {
    margin-right: 0;
    display: block;
  }

  .footer__people {
    text-align: center;
  }
}

/* MUKI */

.signatures {
  background-color: #f0f5fa;
  padding: 30px;
  margin-bottom: 50px;
  font-size: 16px;
}

.signature-names.show-less {
  max-height: 500px;
  overflow: hidden;
  position: relative;
}

.signature-names.show-less::after {
  content: ' ';
  display: table;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgb(240, 245, 250)));
  background-image: -webkit-linear-gradient(top, transparent, rgb(240, 245, 250));
  background-image: -moz-linear-gradient(top, transparent, rgb(240, 245, 250));
  background-image: linear-gradient(to bottom, transparent, rgb(240, 245, 250));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#03f0f5fa', endColorstr='#f0f5fa', GradientType=0);
  width: 100%;
  height: 45px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.petition .btn-showall,
.petition .btn-showall:active,
.petition .btn-showall:focus {
  font-size: 24px;
  line-height: 36px;
}

.signatures__title {
  font-size: 30px;
  font-weight: 700;
  padding-left: 30px;
}

@media screen and (max-width: 480px) {
  .petition .btn-showall,
  .petition .btn-showall:active,
  .petition .btn-showall:focus {
    font-size: 18px;
    line-height: 36px;
  }

  .signatures {
    padding: 20px;
    font-size: 14px;
  }

  .signatures__title {
    font-size: 30px;
  }
}
