html,
body {
  font-family: 'Quicksand', sans-serif;
  /* font-family: 'Azeret Mono', monospace; */
}

a {
  color: #4d957f;
}

a:hover {
  color: #4d957f;
  text-decoration: none;
}

.hero {
  padding: 0 0 6rem 0;
  background-color: #EFB046;
}

.hero .logo {
  width: 100%;
  padding: 2rem;
}
@media (min-width: 992px) {
  .hero .logo {
    width: 80%;
    padding: 2rem;
  }
}

.hero p {
  font-size: 1.5rem;
  line-height: 1.4;
  margin-bottom: 1.5rem;
}

.hero h2 {
  text-align: center;
  font-family: 'Azeret Mono', monospace;
  font-size: 2.5rem;
  margin: 4rem 0;
}

.hero .hero-box {
  background-color: #F47C3D;
  position: relative;
  padding: 2rem;
  height: 100%;
}

.hero .hero-box .icon {
  padding-bottom: 1rem;
  width: 8rem;
}
@media (min-width: 992px) {
  .hero .hero-box .icon {
    width: 12rem;
  }
}

.hero .hero-box p {
  font-size: 1.25rem;
  margin-bottom: 0;
}

.outline {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0.5rem;
  top: 0.5rem;
  border: 2px solid #000000;
  pointer-events: none;
}

.text-lg-justify {
  text-align: center;
}
@media (min-width: 992px) {
  .text-lg-justify {
    text-align: justify;
  }
}

.hero .white-blob {
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translateY(50%);
}

.map h2 {
  font-family: 'Azeret Mono', monospace;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.map p {
  font-size: 1.5rem;
  line-height: 1.4;
  margin-top: 0.5rem;
}

.map img {
  object-fit: none;
  object-position: center;
  width: 100%;
  height: 600px;
}

.signatures, .map {
  padding: 2rem 0;
}

@media (min-width: 992px) {
  .signatures {
    padding: 6rem 0;
  }
}

.signatures h1 {
  font-family: 'Azeret Mono', monospace;
  font-weight: 600;
  font-size: 3rem;
  margin-bottom: 0;
}

@media (min-width: 992px) {
  .signatures h1 {
    font-size: 4rem;
  }
}

.signatures h1 span {
  font-weight: 900;
}

.signatures h2 {
  font-weight: 600;
}

.progress {
  margin: 2rem 1rem;
  width: 90%;
  height: 2rem;
  background-color: #EFB046;
  border-radius: 2rem;
  padding: 3px;
  overflow: visible;
}
@media (min-width: 992px) {
  .progress {
    margin: 2rem 0;
    width: 100%;
  }
}

.progress-bar {
  background-color: #4d957f;
  border-radius: 2rem;
  height: 100%;
  position: relative;
  overflow: visible;
}

.progress-bar span {
  position: absolute;
  right: 0;
  top: 2rem;
  font-size: 1.5rem;
  font-family: 'Azeret Mono', monospace;
  color: black;
}

.sign-petition h2 {
  font-family: 'Azeret Mono', monospace;
  font-style: italic;
  margin-bottom: 1.5rem;
  font-size: 2rem;
}

@media (min-width: 992px) {
  .sign-petition h2 {
    font-size: 2.5rem;
  }
}

.sign-petition p {
  font-size: 1.5rem;
  line-height: 1.4;
}

.sign-petition .sign-petition-box {
  background-color: #EFB046;
  padding: 3rem;
}

.sign-petition .sign-petition-box h5 {
  font-weight: 700;
  font-size: 1.5rem;
}

.sign-petition .sign-petition-box input[type=text],
.sign-petition .sign-petition-box input[type=email] {
  border: 2px solid #000000;
  border-radius: 0;
  font-size: 1.25rem;
}

.sign-petition .sign-petition-box input[type=submit],
.sign-petition .sign-petition-box button {
  color: black;
  font-weight: 700;
  font-size: 1.5rem;
  background-color: #4d957f;
  background-image: url('./img/button-border.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: none;
  padding: 0.5rem 3rem;
}

.sign-petition .sign-petition-box input[type=submit]:hover,
.sign-petition .sign-petition-box button:hover {
  filter: brightness(110%);
}

.brandingLogo {
  text-align: right;
}

#petition__error {
  color: red;
}

#mc_embed_signup {
  /* background: #fff;  */
  clear: left; 
  /* font: 14px Helvetica,Arial,sans-serif;  */
}


.btn-bottom-wrapper {
  display: flex;
  justify-content: center;
}

.btn-bottom {
  color: black;
  font-weight: 700;
  font-size: 1rem;
  background-color: #4d957f;
  background-image: url(./img/button-border.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: none;
  padding: 1.5rem;
  margin-top: 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  display: block;
}
.btn-bottom:hover {
  color: black;
  filter: brightness(110%);
}
@media (min-width: 992px) {
  .btn-bottom {
    padding: 0.5rem 3rem;
    font-size: 1.5rem;
  }
}

.footer {
  background-color: #EFB046;
  padding: 5rem 0 3rem 0;
  margin-top: 3rem;
  position: relative;
  font-size: 1.25rem;
}

@media (min-width: 992px) {
  .footer p {
    margin-bottom: 0;
  }
}

.footer a {
  color: black;
}
.footer a:hover {
  color: #4d957f;
}

.footer .white-blob {
  position: absolute;
  top: 0;
  width: 100%;
  transform: translateY(-50%);
}

.footer .logo-right img {
  margin-left: 1.5rem;
  width: 15rem;
}

.checkbox-wrapper {
  position: relative;
  margin-left: 2rem;
  padding-left: 0;
}

.checkbox-wrapper input {
  position: absolute;
  opacity: 0;
  width: 1px;
  height: 1px;
  transform: translate(-20px, 20px);
}

.checkbox-wrapper label {
  line-height: 1.25rem;
  font-size: 1rem;
  cursor: pointer;
}

.checkbox-wrapper label:after {
  content: "";
  position: absolute;
  left: -2rem;
  top: 0.325rem;
  border: 2px solid black;
  height: 1.25rem;
  width: 1.25rem;
  background-color: white;
  cursor: pointer;
}

.checkbox-wrapper input:checked + label:after {
  background-image: url("./img/check.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
}
