@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700&subset=latin-ext');

@font-face {
  font-family: 'GraphCondensedWeb';
  src: url('fonts/graph/graph-condensed/graph-condensed-bold-web.eot');
  src: url('fonts/graph/graph-condensed/graph-condensed-bold-web.eot?#iefix') format('embedded-opentype'), url('fonts/graph/graph-condensed/graph-condensed-bold-web.woff2') format('woff2'), url('fonts/graph/graph-condensed/graph-condensed-bold-web.woff') format('woff'), url('fonts/graph/graph-condensed/graph-condensed-bold-web.ttf') format('truetype'), url('fonts/graph/graph-condensed/graph-condensed-bold-web.svg#graphcondensed') format('svg');
  font-weight: 700;
  font-style: normal;
}

body,
p {
  font-family: 'Roboto Mono', monospace;
}

.font-graph {
  font-family: 'GraphCondensedWeb', sans-serif;
}

@media(max-width: 480px) {
  .font-graph {
    margin-bottom: 20px;
    display: inline-block;
  }
}

.text-turquoise {
  color: #222222;
}

.text-red {
  color: #de3c00;
}

.text-orange {
  color: #ffbf39;
}

a {
  color: #222222;
  text-decoration: none;
}

a:hover,
a:visited,
a:active {
  text-decoration: underline;
}

small {
  font-size: 13px;
  color: #748b91;
}

@media screen and (max-width: 480px) {
  small {
    font-size: 11px;
  }
}

.landing,
.demands,
.petition {
  position: relative;
  margin-bottom: 20px;
}

.landing .landing__title {
  display: inline-block;
  font-size: 136px;
  line-height: 117px;
  padding-top: 120px;
  padding-bottom: 140px;
  margin: 0 !important;
  position: relative;
  left: 275px;
}

.landing .bullhorn {
  width: 250px;
  height: 198px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: inline-block;
  background-image: url("img/breakfree-logo-white.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.landing .gray-box {
  position: absolute;
  bottom: 50px;
  right: 140px;
  width: 380px;
  height: 270px;
  background-color: #f0f5fa;
}

.landing .gray-box .bubble-arrow {
  background-image: url("img/bubble-arrow.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 279px;
  height: 121px;
  position: absolute;
  bottom: -16px;
  right: -30px;
  z-index: 99;
  font-size: 35px;
  padding-top: 12px;
  letter-spacing: 3px;
}

.bubble-arrow a {
  color: #000;
  text-decoration: none;
}

.bubble-arrow a:hover {
  color: #fff;
  text-decoration: none;
}

.modal-backdrop {
  display: none;
}

.scroll-arrow {
  position: fixed;
  bottom: 10px;
  left: 0;
  right: 0;
  width: auto;
  text-align: center;
  font-size: 24px;
  z-index: 98;
}

@keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -20px, 0);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -8px, 0);
  }

  90% {
    transform: translate3d(0, -4px, 0);
  }
}

.bounce {
  animation: bounce 2s;
  animation-delay: 3s;
  transform-origin: center bottom;
}

@media screen and (max-width: 991px) {
  .landing {
    /* min-height: 728px; */
  }

  .landing .landing__title {
    position: absolute;
    left: auto;
    right: 0;
  }

  .landing .gray-box {
    right: 30px;
    bottom: 0;
  }
}

@media screen and (max-width: 480px) {
  .landing {
    /* min-height: 450px; */
  }

  .landing .landing__title {
    font-size: 50px;
    line-height: 45px;
    padding-top: 40px;
    right: 15%;
  }

  .landing .bullhorn {
    width: 152px;
    height: 121px;
    bottom: 85px;
  }

  .landing .gray-box {
    right: 0;
    bottom: 0;
    top: 160px;
    height: 320px;
    width: 174px;
  }

  .landing .gray-box .bubble-arrow {
    width: 195px;
    height: 85px;
    bottom: 27px;
    right: auto;
    left: -37px;
    font-size: 18px;
    padding-top: 12px;
    letter-spacing: 3px;
  }
}

.demands {
  margin-top: 50px;
}

.demands .demands__title {
  font-family: 'Roboto Mono', monospace;
  display: inline-block;
  font-size: 50px;
  font-weight: 700;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  margin: 0 !important;
  position: relative;
  z-index: 2;
  color: #ffffff;
}

.demands .turquoise-box {
  position: absolute;
  top: 0;
  bottom: 0;
  /*left: -65px;*/
  left: -9999px;
  right: 0;
  /*width: 447px;*/
  background-color: #222222;
  z-index: 1;
}

@media screen and (max-width: 1199px) {
  /* .demands .turquoise-box {
    right: 103px;
  } */
}

.demands .demand {
  font-size: 14px;
  padding-left: 60px;
  position: relative;
  min-height: 108px;
  margin-bottom: 40px;
  margin-top: 20px;
}

.demands .demand__number {
  font-size: 80px;
  line-height: 80px;
  opacity: 0.3;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -40px;
}

.demands .demand__text {
  padding: 40px 30px;
  background-color: #f0f5fa;
}

.demands .demand__hover {
  background-color: #f0f5fa;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 60px;
  right: 0;
  background-image: url("img/circle-arrow.svg");
  background-repeat: no-repeat;
  background-position: right bottom;
}

.demands .demand__hover span {
  position: absolute;
  top: 40px;
  left: 30px;
  right: 30px;
  font-size: 45px;
  line-height: 45px;
}

.demands .demand__text:hover + .demand__hover,
.demands .demand__hover:hover {
  display: none;
}

.demands .demand__note {
  padding-left: 60px;
}

@media screen and (max-width: 991px) {
  /* .demands .demands__title {
    padding-bottom: 0;
  } */

  /* .demands .turquoise-box {
    bottom: 50px;
    left: 0;
    width: 100%;
  } */
}

@media screen and (max-width: 480px) {
  .demands .demands__title {
    font-size: 50px;
    line-height: 51px;
    padding-top: 45px;
    padding-bottom: 65px;
  }

  .demands .turquoise-box {
    bottom: 25px;
  }

  .demands .demand {
    font-size: 13px;
  }

  .demands .demand__number {
    top: 18px;
    margin-top: 0;
  }
}

.petition {
  font-size: 16px;
  line-height: 1.6em;
}

.petition .title-container {
  padding-top: 20px;
  padding-bottom: 35px;
}

.petition .petition__title {
  font-family: 'Roboto Mono', monospace;
  font-size: 34px;
  line-height: 34px;
  vertical-align: text-top;
  color: #222222;
  font-weight: 400;
}

.petition .petition__title span {
  font-size: 34px;
  font-weight: 700;
}

.petition .petition__subtitle {
  font-family: 'Roboto Mono', monospace;
  font-size: 24px;
  line-height: 30px;
  vertical-align: text-top;
  color: #222222;
  font-weight: 400;
}

.petition .petition__note {
  /*white-space: nowrap;*/
}

.petition .progress-container {
  padding-bottom: 140px;
}

.petition .progress {
  height: 35px;
  background-color: #dae6f2;
  border-radius: 0;
  margin-bottom: 10px;
}

.petition .progress-bar {
  background-color: #ffbf39;
}

.petition .progress__note {
  font-size: 15px;
}

.petition .petition__form,
.petition .petition__reset {
  padding-top: 50px;
  padding-bottom: 40px;
}

.petition .petition__reset {
  padding-top: 200px;
}

.petition .form-control {
  border: 2px solid #000;
  border-radius: 0;
  margin-bottom: 30px;
  font-size: 15px;
  padding: 0 15px;
  color: #222222;
  font-weight: 700;
  height: 50px;
  line-height: 50px;
}

.petition .btn-default {
  font-family: 'Roboto Mono', monospace;
  font-size: 45px;
  line-height: 76px;
  background-color: #ffffff;
  color: #222222;
  border: 0;
  border-radius: 0;
  text-transform: uppercase;
  font-weight: 700;
}

.petition .btn-default:hover {
  color: #ffffff;
  background-color: #ffbf39;
}

.petition .btn-yellow {
  background-color: #ffbf39;
  /* color: #ffffff; */
}
.petition .btn-yellow:hover {
  /* color: #222222; */
}

@media screen and (max-width: 991px) {
  .petition .title-container {
    padding-top: 35px;
    padding-bottom: 35px;
  }

  .petition .progress-container {
    padding-bottom: 0;
  }

  .petition .petition__form,
  .petition .petition__reset {
    padding-top: 60px;
  }
}

@media screen and (max-width: 480px) {
  .petition .petition__title {
    font-size: 30px;
    line-height: 32px;
    display: block;
  }

  .petition .petition__title span {
    font-size: 40px;
  }

  .petition .petition__note {
    white-space: normal;
  }

  .petition .btn-default {
    font-size: 40px;
    line-height: 60px;
  }
}

.form-control:hover,
.form-control:active,
.form-control:focus,
.btn:hover,
.btn:active,
.btn:focus {
  outline: none !important;
  box-shadow: none !important;
  -webkit-appearance: none;
}

.checkbox {
  padding-left: 20px;
  margin-bottom: 23px;
}

.checkbox input[type="checkbox"] {
  display: none;
}

.checkbox label {
  line-height: 26px;
  position: relative;
  padding-left: 15px;
}

.checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 26px;
  height: 26px;
  left: 0;
  margin-left: -20px;
  border: 2px solid #000;
  background-color: #fff;
}

.checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 26px;
  height: 26px;
  left: 0;
  top: 0;
  margin-left: -20px;
  padding-left: 4px;
  padding-top: 5px;
  font-size: 16px;
  color: #222222;
}

.checkbox input[type="checkbox"]:checked + label::after {
  content: "\e013";
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*.petition .petition__form {*/
.petition .petition__reset {
  display: none;
}

.petition__reset .social-box {
  background-color: #ffffff;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

.petition__reset .social-box .buttons {
  display: inline-block;
}

.petition__reset a,
.petition__reset a:hover,
.petition__reset .btn,
.petition__reset .btn:hover {
  font-weight: bold;
  color: #222222;
  padding-left: 0;
  padding-right: 0;
  text-decoration: underline;
}

.footer {
  background-color: #222222;
  line-height: 64px;
}

.footer a {
  color: #000;
}

.footer__social {
  font-size: 30px;
}

.footer .social__title {
  margin-right: 30px;
  color: #ffffff;
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
}

.btn-social {
  background: #ffbf39;
  color: #222222;
  width: 35px;
  height: 35px;
  padding: 5px 5px 5px 5px;
  border-radius: 0;
}

@media(max-width: 991px) {
  .btn-social {
    width: 50px;
    height: 50px;
    padding-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.btn-social svg {
  fill: #222222;
}

.btn-social:hover svg {
  fill: #ffffff;
}

.footer__people {
  font-size: 14px;
  color: #ffffff;
  line-height: 1.2em;
  padding-top: 14px;
}
.footer__people a {
  color: #ffffff;
  font-family: 'Roboto Mono', monospace;
  line-height: 1em;
}

@media screen and (max-width: 480px) {
  .footer {
    text-align: center;
    padding-bottom: 20px;
  }

  .footer .social__title {
    margin-right: 0;
    display: block;
  }

  .footer__people {
    text-align: center;
  }
}

.chatbox {
  position: fixed;
  width: 575px;
  bottom: 0;
  right: 115px;
  z-index: 1050;
  display: none;
}

@media screen and (max-width: 480px) {
  .chatbox {
    width: 100%;
    bottom: 0;
    right: 0;
    z-index: 1050;
    display: none;
  }
}

.chatbox .chat__title {
  background-color: #17292e;
  height: 70px;
  background-image: url("img/breakfree-logo-white.png");
  background-size: 62px 50px;
  background-repeat: no-repeat;
  background-position: 15px center;
}

.chatbox .chat__title .title {
  color: #fff;
  line-height: 70px;
  font-size: 21px;
  padding-left: 90px;
}

.chatbox .chat__title .close {
  font-family: serif;
  color: #fff;
  opacity: 1;
  font-size: 50px;
  line-height: 70px;
  padding: 0 20px;
}

.chatbox .frame-container {
  background-color: #222222;
  width: 100%;
  height: 400px;
  max-height: 85vh;
}

.chatbox .frame-container iframe {
  border: none !important;
  width: 100%;
  height: 100%;
}

/* MUKI */

.signatures {
  background-color: #e5e5e5;
  padding: 30px;
  margin-bottom: 50px;
  font-size: 16px;
}

.signature-names.show-less {
  max-height: 500px;
  overflow: hidden;
  position: relative;
}

.signature-names.show-less::after {
  content: ' ';
  display: table;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#e5e5e5));
  background-image: -webkit-linear-gradient(top, transparent, #e5e5e5);
  background-image: -moz-linear-gradient(top, transparent, #e5e5e5);
  background-image: linear-gradient(to bottom, transparent, #e5e5e5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e5e5e5', GradientType=0);
  width: 100%;
  height: 45px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.btn-showall {
  font-size: 24px !important;
  line-height: 36px !important;
  white-space: normal;
}

.signatures__title {
  font-size: 38px;
  padding-left: 30px;
}

@media screen and (max-width: 480px) {
  .signatures__title {
    font-size: 30px;
  }
}



.box {
  width: 300px;
  height: 300px;
  background: #222222;
  position: relative;
  margin: auto;
  color: #ffffff;
  cursor: pointer;

  margin-bottom: 30px;

  display: block;
}
.box:hover {
  text-decoration: none;
  color: #222222;
}

@media (min-width: 480px) {
  .box {
    width: 400px;
    height: 400px;
  }
}

.box-yellow {
  background: #ffbf39;
  color: #222222;
  width: 300px;
  height: 300px;
  cursor: default;
}
.box p {
  text-align: center;
  padding: 40px;
  font-size: 24px;
}

.header-thing {
  background: #222222;
  position: relative;
  width: 100%;

}
.header-thing h1 {
  color: #ffffff;
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
  font-size: 80px;
  padding-top: 50px;
  padding-bottom: 80px;
}

@media (max-width: 991px) {
  .header-thing h1 {
    font-size: 50px;
  }
}

.logo-circle {
  position: absolute;
  background: #ffffff;
  border-radius: 50%;
  width: 100px;
  height: 100px;

  top: -75px;
  left: -25px;

  background-image: url('./img/logo.png');
  background-size: cover;
}

@media (max-width: 991px) {
  .logo-circle {
    left: 20px;
  }
}

.petition-boxes {
  padding-top: 60px;
}

.chicken {
  width: 225px;
  height: 290px;
  background-image: url('./img/chicken-big.png');
  background-position: -225px 0;
  background-repeat: no-repeat;

  position: absolute;
  top: 0;
  right: -220px;
  z-index: 200;

  animation: dance 5s steps(1) infinite;
}

@keyframes dance {
  0% {
    background-position: -225px 0;
  }
  50% {
    background-position: -450px 0;
  }
}

.egg {
  width: 60px;
  height: 80px;
  background-image: url('./img/egg-big.png');
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 200;

  position: absolute;
  right: -180px;
  bottom: -200px;

  animation: egg 5s steps(1) infinite;
}

@keyframes egg {
  0% {
    bottom: -200px;
    right: -180px;
  }
  10% {
    bottom: -260px;
    right: -180px;
  }
  20% {
    bottom: -320px;
    right: -180px;
  }
  30% {
    bottom: -380px;
    right: -180px;
  }
  40% {
    bottom: -440px;
    right: -180px;
  }
  50% {
    bottom: -200px;
    right: -100px;
  }
  60% {
    bottom: -260px;
    right: -100px;
  }
  70% {
    bottom: -320px;
    right: -100px;
  }
  80% {
    bottom: -380px;
    right: -100px;
  }
  90% {
    bottom: -440px;
    right: -100px;
  }
}

@media (max-width: 991px) {
  .chicken,
  .egg {
    display: none;
  }
}

.box-game {
  background-image: url('./img/kure.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  font-weight: bold;
}
.box-game:hover {
  color: #ffffff;
}
.box-game:hover::after,
.box-blog:hover::after {
  content: '';
  display: block;
  width: 100px;
  height: 100px;
  background-image: url('./img/puscica.svg');
  background-repeat: no-repeat;
  position: relative;
  margin: auto;
  margin-top: 100px;
}

@media (max-width: 480px) {
  .box-game:hover::after,
  .box-blog:hover::after {
    margin-top: 10px;
  }
}

.box-blog {
  background-image: url('https://static.tumblr.com/10c56ece65533bc743af72950dbb74d9/1imdldp/Ejnp65wq2/tumblr_static_3fffrr3unh8gk8w884csg40kc_2048_v2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-weight: bold;
  background-color: #ffffff;
  color: #222222;
  border: 5px solid #222222;
}

@keyframes chick {
  from {
    transform: translateY(-5px)
  }
  90% {
    transform: translateY(5px)
  }
  to {
    transform: translateY(0px)
  }
}

.progress__chicken img {
  width: 50px;
  height: auto;
  display: block;
  float: left;
  animation: 0.5s infinite chick;
}

.progress__chicken > div {
  width: 270px;
  margin: 0 auto;
  height: 70px;
  margin-bottom: 10px;
}

.progress__chicken > div > div {
  padding-top: 10px;
  margin-left: 70px;
}

.petition .progress-bar-milestone {
  width: 50% !important;
  background-color: orange;
  position: relative;
  top: -35px;
}

.progress__arrow {
  height: 30px;
  width: 50%;
  border-right: 2px solid #333;
  margin: -10px 0 10px 0;
}
